<div class="container">
  <h2>Employee List</h2>

  <button mat-raised-button color="primary" (click)="addEmployee()">Add Employee</button>

  <mat-table [dataSource]="employees">
    <ng-container matColumnDef="first_name">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{ employee.first_name }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="last_name">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{ employee.last_name }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{ employee.email }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="salary">
      <mat-header-cell *matHeaderCellDef> Salary </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{ employee.salary }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let employee">
        <button mat-button color="primary" (click)="viewEmployee(employee._id)">View</button>
        <button mat-button color="primary" (click)="updateEmployee(employee._id)">Update</button>
        <button mat-button color="warn" (click)="deleteEmployee(employee._id)">Delete</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
